<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
    <title>Todoapp</title>
</head>

<body>

    <div class="container">
        <div class="pt-0">
            <div class="col-lg-4 mx-auto border rounded p-4 mt-4 mb-4">
                <h3 class="alert alert-light border rounded mt-3 mb-4">Add Product Here!</h3>
                <section class="fw-bold">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}
                        <a href="{% url 'showitem' %}"><button type="submit" class="btn btn-success p-sm-2 mt-2 mb-sm-2">Submit</button></a>              
                    </form>
                    <a href="{% url 'showitem' %}"><button type="" class="btn btn-success p-sm-2 mt-2 mb-sm-2">View all Products</button></a>
                </section>
            </div>
        </div>
    </div>
</body>

</html>